*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.sfondo
{
    background-color: lightcyan;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header:first-child
{
    height: 50px;
    line-height: 50px;
    background-color: black;
    font-size: 30px;
    color: brown;
    text-align: center;
}

main
{
    height: auto;
    width: 60%;
    margin: auto;
}

.riga
{
   float: left;
   width: 32%;
}

.rettangolo
{
    height: 450px;
    margin-left: 1%;
    margin-top: 1%;
    position: relative;
    background-size: cover;
    background-position: center;
}

.f1
{
    background-image: url(../img/1.webp);
}
.f1:hover
{
    background-image: url(../img/1-hover.webp);
}


.f2
{
    background-image: url(../img/2.webp);
}
.f2:hover
{
    background-image: url(../img/2-hover.webp);
}


.f3
{
    background-image: url(../img/3.webp);
}
.f3:hover
{
    background-image: url(../img/3-hover.webp);
}


.f4
{
    background-image: url(../img/4.webp);
}
.f4:hover
{
    background-image: url(../img/4-hover.webp);
}


.f5
{
    background-image: url(../img/5.webp);
}
.f5:hover
{
    background-image: url(../img/5-hover.webp);
}


.f6
{
    background-image: url(../img/6.webp);
}
.f6:hover
{
    background-image: url(../img/6-hover.webp);
}


.cuore
{
    height: 40px;
    width: 20px;
    background-color: white;
    position: absolute;
    top: 2%;
    right: 1%;
    content: "<3";
}

.absolute
{
    border-radius: 50px;
    position: absolute;
    bottom: 2%;
}

.testo
{
    position: relative;
    margin-left: 1%;
    height: 100px;
    text-align: center;

}

.absolute :first-child
{
    background-color: red;
}

.absolute :last-child
{
    background-color: green;
}

